.checkout-page{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    margin: 60px auto;
    .checkout-header{
        display: flex;
       width: 100%;
        justify-content: space-between;
        background: rgba( 123, 119, 119, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
        align-items: center;
        .Remove{
           width: 9%;
           display: flex;
           justify-content: center;
        }
        .item{
            width: 28%;
            display: flex;
           justify-content: center;
           
        }
        .quantity{
            width: 28%;
            display: flex;
           justify-content: center;
        }
        .price{
            width: 28%;
            display: flex;
           justify-content: center;
        }
        
    }
    .items{
        margin-top: 50px;
        width: 100%;
        padding-bottom: 10px;
    }
    .total{

        margin-top: 30px;
        margin-left: auto;
        font-size: 40px;
        background-color: rgb(0, 0, 0);
        color:white;
        padding:4px 10px;
    }
}
