.dis{
    display: none;
}
.cart-box {
    position: absolute;
    width: 240px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 80px;
    z-index: 2;
  
    .cart-items {
      height: 470px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  .add{
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
    button {
      margin-top: auto;
    }
  }